@use 'reset';
@use './variables' as *;
@use './mixin' as *;
@use './font-face' as *;

@include fontFace('worksans', '../fonts/WorkSans-VariableFont_wght.woff2', 300 700);

:root {
  interpolate-size: allow-keywords;
}

body {
  background-image: url('../images/background-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-color: $purple-100-color;
  font-family: worksans;
  font-size: $textMobile-3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: $space-300;
}

.wrappers__faqs {
  width: min(38rem, 100%);
  display: grid;
  background-color: $white-color;
  border-radius: .5rem;
  padding: $space-300;
  color: $purple-700-color;
  box-shadow:  0px 2px 6px rgba(0, 0, 0, .5);
}

.faqs__title {
  display: flex;
  gap: $space-300;
}

.title__image {
  width: $space-300;
}

.title__text {
  @include tgSize($textMobile-1, 700);
}

.wrappers__accord {
  margin-block: $space-275; 
  &:last-of-type {
    margin-bottom: 0;
  }
}


.wrappers__accord[open] .accord__text {
  opacity: 1;
  transition: opacity .9s ease, transform .9s ease;
  transform: translateY(0);
  @starting-style {
    opacity: 0;
    transform: translateY(-50%);
  }
}
.wrappers__accord .accord__text {
  transition: opacity .9s ease, transform .9s ease, display .9s allow-discrete;
  starting-style: allow-discrete;
  opacity: 0;
  transform: translateY(0);
}


.accord__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-300;
  line-height: 1.2;
  padding: 0;
  list-style: none; 
  @include tgSize($textMobile-3, 600);  
  &::-webkit-details-marker {
    display: none;
  }
  &:hover {
    color: $hover-color;
    cursor: pointer;
  }
  &focus {
    color: $hover-color;
    cursor: pointer;
  }
}

.accord__icons {
  display: flex;
  align-items: center;
}

.icons__item {
  width: $space-350;
  height: $space-350;
  display: none;
}

.wrappers__accord[open] .icons__item--minus {
  display: block;
}

.wrappers__accord:not([open]) .icons__item--plus {
  display: block;
}

.accord__text {
  @include tgSize($textMobile-5, 400);
  color: $purple-600-color;
  margin-top: $space-300;
}

@media (min-width: 47em) {

  .faqs__title {
    display: flex;
    align-items: center;
  }
  .wrappers__faqs {
    width: min(37.5rem, 100%);
    padding: $space-500;
  }
  .title__image {
    width: 2.188rem;
    height: 2.188rem;
  }

  .title__text {
    font-size: $text-1;
  }
  .accord__item {
    font-size: $text-5;
  }
  .accord__text {
    font-size: textMobile-3;
  }

}

@media (min-width: 75em) {
  body {
    background-image: url('../images/background-pattern-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
  }
    
}

@media (max-width: 23em) {
  body {
    padding-inline: $space-200;
  }
}









